---
interface Props {
  comic: {
    comicURL: string;
    title: string;
    imageURL: string;
    releaseDate: string;
    readDate: string;
    writers: Array<string>;
    pencilers: Array<string>;
    inkers: Array<string>;
    colorists: Array<string>;
  };
}

const { comic } = Astro.props;

console.log(comic);
---

<article class="card">
  <header class="card-header">
    <img src={comic.imageURL} alt="Comic Book Cover" />
    <div class="card-header-datos">
      <h2>
        <a href={comic.comicURL}>
          {comic.title}
        </a>
      </h2>
      <p>Release Date: {comic.releaseDate}</p>
      <p>Read Date: {comic.readDate}</p>
    </div>
  </header>
  <section>
    <h3>Writers</h3>
    <ul>
      {comic.writers.map((element) => <li>{element}</li>)}
    </ul>
  </section>
  <section>
    <h3>Pencilers</h3>
    <ul>
      {comic.pencilers.map((element) => <li>{element}</li>)}
    </ul>
  </section>
  <section>
    <h3>Inkers</h3>
    <ul>
      {comic.inkers.map((element) => <li>{element}</li>)}
    </ul>
  </section>
  <section>
    <h3>Colorists</h3>
    <ul>
      {comic.colorists.map((element) => <li>{element}</li>)}
    </ul>
  </section>
</article>
<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  article.card {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: start;
    gap: 1em;
    background-color: #23262d;
    border-radius: 1em;
    border: 2px solid var(--accent);
    color: white;
    padding: 1.5em 2em;
  }

  article.card {
  }
  header.card-header {
    font-size: 1.5rem;
    padding: 0;
  }

  header.card-header h2 {
    font-size: 3rem;
    text-shadow: 2px 2px 10px black;
    text-wrap: pretty;
  }

  header.card-header > img {
    max-width: 30%;
    border-radius: 1rem;
    border: 1px solid transparent;
    box-shadow: 2px 2px 10px black;
    transition: all 0.3s ease;
  }

  header.card-header > img:is(:hover, :focus) {
    border: 1px solid white;
    box-shadow: 0px 0px 10px var(--accent-light);
  }

  header.card-header > .card-header-datos {
  }

  article.card section {
    padding: 0.5rem 1rem;
    background-color: var(--accent-dark);
    border-radius: 1rem;
    box-shadow: 2px 2px 10px black;
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }
  article.card section:is(:hover, :focus) {
    border: 1px solid transparent;
    color: var(--accent);
    background-color: white;
    box-shadow: 0px 0px 10px var(--accent);
  }

  ul {
    list-style: none;
  }

  @media (700px > width) {
    header.card-header {
      flex-direction: column;
    }

    header.card-header > img {
      max-width: 70%;
      place-self: center;
    }
  }
</style>
