---
interface Props {
  comic: {
    comicURL: string;
    title: string;
    imageURL: string;
    releaseDate: string;
    readDate: string;
    writers: Array<string>;
    pencilers: Array<string>;
    inkers: Array<string>;
    colorists: Array<string>;
  };
}

const { comic } = Astro.props;

console.log(comic);
---

<article class="card">
  <header class="card-header">
    <img src={comic.imageURL} alt="Comic Book Cover" />
    <div class="card-header-datos">
      <h2>
        <a href={comic.comicURL}>
          {comic.title}
        </a>
      </h2>
      <p>Release Date: {comic.releaseDate}</p>
      <p>Read Date: {comic.readDate}</p>
    </div>
  </header>
  <h3>Writers</h3>
  <ul>
    {comic.writers.map((element) => <li>{element}</li>)}
  </ul>
  <h3>Pencilers</h3>
  <ul>
    {comic.pencilers.map((element) => <li>{element}</li>)}
  </ul>
  <h3>Inkers</h3>
  <ul>
    {comic.inkers.map((element) => <li>{element}</li>)}
  </ul>
  <h3>Colorists</h3>
  <ul>
    {comic.colorists.map((element) => <li>{element}</li>)}
  </ul>
</article>
<style>
  article.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-content: start;
    gap: 1em;
    background-color: #23262d;
    border-radius: 1em;
    background-color: #23262d;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 1.5em 2em;
  }
  header.card-header {
    font-size: 1.5rem;
    padding: 0;
  }

  header.card-header h2 {
    font-size: 3rem;
    text-wrap: pretty;
  }

  header.card-header > img {
    min-width: 0;
    flex: 2;
    border-radius: 1rem;
  }
  header.card-header > .card-header-datos {
    flex: 3;
  }

  ul {
    list-style: none;
  }

  @media (700px > width) {
    header.card-header {
      flex-direction: column;
    }

    header.card-header > img {
      max-width: 80%;
      place-self: center;
    }
  }
</style>
